.box{
    background-color: blue;
    height: 100px;
    width: 100px;

    /* position: relative; */
    /* position:absolute; */
    /* position: fixed; */
    /* position: sticky;  */
    /* position: static; */
    left: 50px;
    top:10px;
    z-index: -1;
    
    /* margin-top: 100px;
    margin-left: 50px; */
}

.link{
    background-color: blue;
    color: white;
    padding: 20px;
    text-decoration: none;
}

.link:hover{
    background-color: brown;
    font-size: larger;
    font-weight: bolder;
}

.link:active{
    color: aqua;
    background-color: black;
}